<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
  <%- include('./partials/nav.ejs') %>
  <h1>Good Cook - Good Recept - Good Food</h1>
  <p>Build with Node.js Express, EJS, PostgreSQL 15</p>
  <p>Dsignet by Pga Soft Studia </p>
</body>
</html>
